.transport-status {
  padding: 10px 15px;

  &__top {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  &__options {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: flex-start;

    padding: 5px 15px;
  }

  &__option {
    margin-right: 15px;
    max-width: 300px;
    width: 100%;
  }

  &__main {
    background: #fff;
    box-shadow: 0 0 3px 4px rgba(196, 195, 195, 0.253);
    max-width: 100%;
    overflow-x: scroll;
  }

  &__table {
    width: 100%;
  }

  @media (max-width: 1200px) {
    &__top {
      flex-direction: column;
    }

    &__options {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
    } 
    &__option {
      margin: 0 5px;

      &:last-child {
        order: -1;
      }
    }
  }
}

